# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
The Information Man/The Information Man/Assembly-CSharp.csproj
The Information Man/The Information Man/Library/metadata/00/00000000000000002000000000000000
The Information Man/The Information Man/Library/metadata/00/00000000000000004100000000000000
The Information Man/The Information Man/Library/metadata/00/00000000000000007000000000000000
The Information Man/The Information Man/Library/metadata/00/00000000000000009000000000000000
The Information Man/The Information Man/Library/metadata/00/0000000000000000c000000000000000
The Information Man/The Information Man/Library/metadata/7c/7cbab2be89b54486bbd23a6fe637d30e
The Information Man/The Information Man/Library/metadata/8e/8e0cd8ed44d4412cbe0642067abc9e44
The Information Man/The Information Man/Assembly-CSharp.csproj